
# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
build/
dist/

# Cache
.cache/
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Autres
*.zip
*.tar.gz
*.tmp

# Ignorer les fichiers de types générés par Next.js
types/
